@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kiwi+Maru:wght@400;500&family=Kosugi+Maru&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Yusei+Magic&family=Zen+Kurenaido&family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
}