.CommentFormContainer {
    position: fixed;
    bottom: 0;
    width: calc(100% - 15rem);
    height: 5rem;
    background-color: white;
}

.CommentFormContainer:hover {
    background-color: rgb(250, 250, 250);
}

.CommentForm {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    background-color: white;
}

.CommentFormImage {
    width:2rem;
    height:2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.CommentFormInput {
    border: none;
    outline: none;
    width: calc(100% - 32px - 2.25rem);
    margin-right: 0.5rem;
    height: 60%;
    resize: none;
}

.CommentFormButton {
    display: flex;
    margin-left: auto;
    margin-right: 0.75rem;
    border: white;
    width: 3rem;
    height: 1.75rem;
    background-color: cornflowerblue;
    border-radius: 0.4rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.CommentFormButton:hover {
    background-color: rgb(109, 157, 247);
}

.CommentFormButtonSpan {
    color: white;
}

@media (max-width:840px) {
    .CommentFormContainer {
        width: calc(100% - 5rem);
    }
}

@media (max-width:600px) {
    .CommentFormContainer {
        width: 100%;
    }
}
