.SearchContainer {
    margin-left: 15rem;
    width: calc(100%-15rem);
    display: flex;
    flex-direction: column;
}

.SearchTop {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
}

.SearchTopCenter {
    font-size: 1.5rem;
}

.SearchForm {
    display: flex;
    height: 6.5rem;
    flex-direction: column;
    justify-content: center;
}

.SearchFormHeading {
    width: 60%;
    margin: 0 auto;
}

.SearchFormInp {
    width: 60%;
    margin: 0 auto;
    height: 2.5rem;
    border: none;
    outline: none;
    border-bottom: solid 0.1rem black;
}

.SearchRecommendation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.005rem solid rgb(222, 221, 221);
}

.SearchRecommendationTop {
    width: 60%;
    height: 3rem;
    display: flex;
    align-items: center;
}

.SearchRecommendationPeople {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.SearchRecommendationPersonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.SearchRecommendationPersonContainer:hover {
    background-color: rgb(250,250,250);
}


.SearchRecommendationPerson {
    width: 60%;
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.SearchRecommendationPersonIcon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.SearchRecommendationPersonMain {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.SearchRecommendationPersonUsername {   
    font-size: 1.5rem;
}

.SearchRecommendationPersonFollow {
    display: flex;
    gap:0.5rem;
    margin-top:0.25rem;
}

.SearchRecommendationPersonFollowRight small,
.SearchRecommendationPersonFollowLeft small {
    margin-right: 0.25rem;
}

.SearchRecommendationPersonDesc {
    color: #626363;
    margin-top: 0.5rem;
}

.SearchSpinner {
    height: calc(100vh - 200px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1080px) {
    .SearchFormHeading,
    .SearchFormInp,
    .SearchRecommendationTop,
    .SearchRecommendationPerson {
        width: 70%;
    }
}

@media (max-width:840px) {
    .SearchContainer {
        margin-left: 5rem;
        width: calc(100%-5rem);
    }

    .SearchFormHeading,
    .SearchFormInp,
    .SearchRecommendationTop,
    .SearchRecommendationPerson {
        width: 75%;
    }
}

@media (max-width:600px) {
    .SearchContainer {
        margin-left: 0rem;
        width: 100%;
        margin-bottom: 5rem;
    }

        .SearchFormHeading,
        .SearchFormInp,
        .SearchRecommendationTop,
        .SearchRecommendationPerson {
            width: 80%;
        }
}
